
<div class="main-footer widgets-dark typo-light">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget subscribe no-box">
                    <h5 class="widget-title"><img class="icon_footer" width="40" height="40" src="~/assets/images/logo.png"><span></span></h5>
                    <p>Web de empleo, documentación, cursos, licitaciones y noticias enfocadas a la seguridad</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget no-box">
                    <h5 class="widget-title">Información<span></span></h5>
                    <ul class="thumbnail-widget">
                        <li>
                            <div class="thumb-content"><a asp-controller="Home" asp-action="AcercaDe">¿Quiénes somos?</a></div>
                        </li>
                        <li>
                            <div class="thumb-content"><a asp-controller="Home" asp-action="Politica" >Política de privacidad</a></div>
                        </li>
                        <li>
                            <div class="thumb-content"><a asp-controller="Home" asp-action="PoliticaCookies">Política de Cookies</a></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget no-box">
                    <h5 class="widget-title">Socio<span></span></h5>
                    <p></p>
                    <a class="btn btn_footer" href="https://vigilanciayproteccion.es" target="_blank">Accede a nuestro blog</a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="widget no-box">
                    <h5 class="widget-title">Contáctanos<span></span></h5>
                    <p><a href="mailto:raul.castrodlt@outlook.es">Raúl Castro de la Torre</a></p>
                    <p><a href="mailto:danielpokejeron@gmail.com">Daniel Castro de la Torre</a></p>
                    <p><a href="mailto:fjcg.vigilanciayproteccion@gmail.com">Francisco Javier Castro García</a></p>
                    <ul class="social-footer2">
                        <li class=""><a target="_blank" href="https://t.me/joinchat/KYR7oGnd98ZiMDJk"><img width="30" height="30" src="~/assets/webfonts/icons8-aplicación-telegrama.svg"></a></li>
                        <li class=""><a target="_blank" href="https://www.facebook.com/WWW.VIGILANCIAYPROTECCION.ES/"><img width="30" height="30" src="~/assets/webfonts/icons8-facebook-nuevo.svg"></a></li>
                        <li class=""><a target="_blank" href="https://www.linkedin.com/company/74678106/admin//"><img width="30" height="30" src="~/assets/webfonts/icons8-linkedin-rodeado-de-círculo.svg"></a></li>
                        <li class=""><a target="_blank" href="https://twitter.com/VigilanciayP"><img width="30" height="30" src="~/assets/webfonts/icons8-twitter-circled.svg"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Copyright vigilanciayproteccionportal © 2021. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</div>
