.url {
    width: 25px;
    height: 25px;
}

.btnaction:hover {
    text-shadow: #000 1px 0 10px;
    cursor:pointer;
}


#datos th, td {
    text-align: left;
    padding: 8px;
}

.trpub:nth-child(even) {
    background-color: #f2f2f2
}

.td_provincia {
    text-transform: uppercase;
}
/*MODAL---------------------------------------------*/
/* The Modal (background) */
.modal {
    text-align: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal span{
    background-color:red;
    margin-bottom:2%;
    padding:1%;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/*colores especificos defs trs*/

.td_actions {
    table-layout: fixed;
    min-width: 110px;
    overflow: hidden;
}

.hidden_col {
    display: none !important;
}

.chbx {
    margin-right: 1.2%;
}

#datos {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
}

    #datos td, table th {
        border-top: 1px solid #ecf0f1;
        padding: 10px;
    }

    #datos td {
        border-left: 1px solid #ecf0f1;
        border-right: 1px solid #ecf0f1;
    }

    #datos .total td {
        text-align: right;
        font-weight: 700;
    }

.mobile-header {
    display: none;
}

@media (max-width: 990px) {
    #datos p a {
        display: block;
        font-weight: bold;
        font-size:x-large
    }

    #datos {
        font-size: x-large;
    }

        #datos tr td:not(:first-child), #datos tr th:not(:first-child), #datos tr td:not(.total-val) {
            display: none;
        }

        #datos tr th:first-child {
            width: 100%;
            display: block;
        }

        #datos tr th:not(:first-child) {
            width: 40%;
            /*transition: transform 0.5s ease-out;*/
            transform: translateY(-9999px);
            position: relative;
        }

        #datos tr td:not(:first-child) {
            /*transition: transform 0.5s ease-out;*/
            transform: translateY(-9999px);
            width: 60%;
            position: relative;
        }

        #datos tr td:first-child {
            display: block;
            /*cursor: pointer;*/
        }

            #datos tr td:first-child a {
                cursor: pointer;
            }

        #datos tr.total th {
            width: 25%;
            display: inline-block;
        }

        #datos tr td.total-val {
            display: inline-block;
            transform: translateY(0);
            width: 75%;
        }
}

.button_send {
    background-color: #ff8d1e;
}

    .button_send:hover {
        background-color: black !important;
    }
    .td_titulo_a{
        text-decoration:none !important;
        color:black;
    }

.button_publish{
    background-color:#ecf0f1 !important;
    color:black;
}
    .button_publish:hover {
        background-color: black !important;
    }
#Filtros {
    margin-bottom: 2%;
}
.btn {
    color:white;
    width: 100% !important;
    margin-bottom: 2%;
    background-color: #ff8d1e !important;
}
.btnMain {
    min-width: 50px !important;
    width: 5% !important;
}
.btnreset {
    min-width: 250px !important;
    width: 100% !important;
}
.modo {
    margin-bottom: 2%;
}
#date {
    margin-bottom: 2%;
}
.custom-select {
    margin-bottom: 2%;
}
.container{
    max-width:1800px;
}


/*CSS TR POR CATEGORIAS*/

.trborrador {
    color: white;
    background-color: #aeaeae;
    color: white !important;
    border: solid;
    border: groove;
}
.trpub {
    border: groove;
}
.otros {
    background-color: #3ab474 !important;
    color: white !important;
}

.infojobs {
    background-color: #4c95fb !important;
    color: white !important;
}

.linkedin {
    background-color: #307AD9 !important;
    color: white !important;
}
... {
    background-color: #FFA925 !important;
    color: white !important;
}
.indeed {
    background-color: #25BAFF !important;
    color: white !important;
}
.vsofertasserias {
    background-color: #BEBEBE !important;
    color: white !important;
}
.jobatus {
    background-color: #003AFF !important;
    color: white !important;
}
.glassdoor {
    background-color: #00FF13 !important;
    color: black !important;
}
.jobandtalent {
    background-color: #7ca7ff !important;
    color: black !important;
}
.tablondeanuncios {
    background-color: #8000FF !important;
    color: white !important;
}

.infoempleo {
    background-color: #1bcf00 !important;
    color: white !important;
}
.Jooble {
    background-color: #0295bd;
    color: white !important;
}
/*-----------------*/
