@section styles{

<link href="~/css/Home/Error.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Portal Vigilancia y protecion - Error 404";
    }
<div >
    
<h1>¡Ups! No se encontró el recurso solicitado</h1>
<a asp-action="Index" asp-controller="Home">Volver a Inicio</a>
</div>
     