<div class="blog-card revealX">
    <div class="meta">
        <div class="photo" style="background-image: url('../../assets/images/backgrounds/b1.jpg')"></div>
        <ul class="details">
            <li class="author"><a href="#">Vigilancia y Proteccion</a></li>
            <li class="tags">
                <ul>
                    <li><a>#vigilante</a></li>
                    <li><a>#seguridad</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="description">
        <h1>¡Bienvenido a Vigilancia y Protección!</h1>
        <p>
            Vigilancia y Protección es una web sin ánimo de Lucro basado en información sobre Seguridad Privada
            Desde 2021, ofrecemos una información integral sobre Seguridad Privada con el fin de ayudar a la imagen de nuestros Vigilantes de Seguridad, Vigilantes de Explosivos, Detectives Privados etc…
            Nuestro éxito se basa en dos pilares fundamentales: visión estratégica para informar y que se haga más visible nuestra presencia. En Vigilancia y Protección todos somos estrategas y ejecutores, porque todos tenemos
            algo que aportar y trabajamos codo con codo con nuestros Vigilantes para alcanzar los objetivos.
        </p>
        <p>
            El Blog de Vigilancia y Protección es una publicación colectiva dedicada a seguir la actualidad sobre noticias de Seguridad Privada, junto con sus respectivos cursos. Queremos hacer una selección personal de las noticias más
            importantes del mundo de la seguridad, profundizando en ellas y dando las claves y el análisis necesario para entender cómo nos afectan, cómo van a desarrollarse en un futuro y qué significado real tienen. Todo lo relacionado
            con la Seguridad es nuestra pasión y la de toda la comunidad de usuarios que la comentan con nosotros.
            Estamos en
            C/Rincon de la Victoria 10
            28018 Madrid

            E-Mail de Contacto fjcg.vigilanciayproteccion@gmail.com
        </p>
    </div>
</div>