@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="text-align:center">Estamos trabajando en ello</h1>
<hr/>
<img src="~/images/trabajando.png" style="width:50%;height:50%;"/>
 